*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

h1{
    text-align: center;
    padding: 15px;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.container2{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.dolar{
    margin: 10px;
    width:300px;
    height:300px;
    border-radius:10px;
    box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
    display:flex;
    flex-direction: row;

    border:1px solid #bcbcbc;
}
.dolar1{
    margin: 10px;
    width:300px;
    height:300px;
    border-radius:10px;
    box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
    display:flex;
    flex-direction: row;
    justify-content:center;
    border:1px solid #bcbcbc;
}
h2{
    margin-left: 20px;
    color: black;
}
h3{
    text-align: center;
    padding: 15px;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .container, .container2 {
        flex-direction: column;
    }

    .dolar, .dolar1 {
        width: 100%;
    }
}